

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f7f9fb;
    color:#222;
    overflow-x:hidden;
    line-height:1.7;
}

img{
    display:block;
    max-width:100%;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

section{
    padding:80px 20px;
}

.container{
    width:min(1100px,100%);
    margin:auto;
}




header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#fff;
    z-index:1000;
    box-shadow:0 5px 18px rgba(0,0,0,.08);
}




nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 20px;
    position:relative;
}

nav h2{
    font-size:1.8rem;
    font-weight:700;
    color:#111;
}

nav h2 span{
    color:#0B6E4F;
}





#hamburger{
    background:none;
    border:none;
    font-size:34px;
    cursor:pointer;
    color:#0B6E4F;
}




#nav-links{

    position:absolute;

    top:100%;

    left:0;

    width:100%;

    background:#fff;

    display:none;

    flex-direction:column;

    text-align:center;

    padding:20px 0;

    gap:20px;

    box-shadow:0 12px 30px rgba(0,0,0,.12);
}

#nav-links.active{
    display:flex;
}

#nav-links a{
    color:#333;
    font-weight:600;
    transition:.3s;
}

#nav-links a:hover{
    color:#0B6E4F;
}




.hero{

    padding-top:140px;

    display:flex;

    flex-direction:column-reverse;

    align-items:center;

    text-align:center;

    gap:45px;

    background:#eef5f3;
}




.hero-text h1{

    font-size:2.8rem;

    line-height:1.15;

    margin-bottom:15px;

    font-weight:700;
}

.hero-text h1 span{

    color:#0B6E4F;
}

.hero-text h2{

    font-size:1.6rem;

    color:#555;

    margin-bottom:20px;

    font-weight:600;
}

.hero-text p{

    color:#666;

    font-size:1rem;

    margin-bottom:35px;

    
}




.hero-image{

    display:flex;

    justify-content:center;
}

.hero-image img{

    width:240px;

    height:240px;

    border-radius:50%;

    object-fit:cover;

    border:8px solid white;

    box-shadow:0 20px 45px rgba(0,0,0,.12);
}




.hero-buttons{

    display:flex;

    flex-direction:column;

    gap:18px;
}

.btn{

    background:#0B6E4F;

    color:white;

    padding:16px 28px;

    border-radius:50px;

    font-weight:600;

    display:inline-block;

    transition:.35s;
}

.btn:hover{

    transform:translateY(-4px);

    box-shadow:0 12px 25px rgba(11,110,79,.25);
}

.btn-outline{

    background:white;

    color:#0B6E4F;

    border:2px solid #0B6E4F;
}

.btn-outline:hover{

    background:#0B6E4F;

    color:white;
}











.about{
    background:#fff;
    display:grid;
    gap:40px;
}

.about-content h5{
    color:#0B6E4F;
    letter-spacing:3px;
    font-size:.9rem;
    margin-bottom:12px;
    
}

.about-content h2{
    font-size:2rem;
    line-height:1.3;
    margin-bottom:20px;
    color:#222;
    
}

.about-content p{
    color:#666;
    margin-bottom:18px;
    text-align: justify;
}

.about-card{
    background:#fff;
    border-radius:20px;
    padding:30px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.about-card h3{
    color:#0B6E4F;
    margin-bottom:25px;
}

.info{
    padding:15px 0;
    border-bottom:1px solid #eee;
}

.info:last-child{
    border-bottom:none;
}

.info strong{
    display:block;
    color:#222;
    margin-bottom:5px;
}

.info span{
    color:#666;
}




.section-title{
    text-align:center;
    margin-bottom:50px;
}

.section-title h5{
    color:#0B6E4F;
    letter-spacing:4px;
    margin-bottom:12px;
    font-size:.9rem;
}

.section-title h2{
    font-size:2.2rem;
    color:#222;
}




.experience{
    background:#f7f9fb;
}

.experience-card{
    background:#fff;
    border-radius:20px;
    padding:30px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.experience-header{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-bottom:20px;
}

.experience-header h3{
    font-size:1.5rem;
}

.experience-header span{
    background:#0B6E4F;
    color:#fff;
    width:max-content;
    padding:8px 18px;
    border-radius:30px;
    font-size:.9rem;
}

.experience-card h4{
    margin-bottom:18px;
    color:#444;
}

.experience-card p{
    color:#666;
    margin-bottom:20px;


}

.experience-card ul{
    padding-left:20px;
    list-style:disc;
}

.experience-card li{
    margin-bottom:10px;
    color:#555;
}




.education{
    background:#fff;
}

.education-container{
    display:grid;
    grid-template-columns:1fr;
    gap:25px;
}

.education-card{
    background:#fff;
    padding:35px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.35s;
}

.education-card:hover{
    transform:translateY(-8px);
}

.education-card h3{
    font-size:1.5rem;
    color:#222;
    margin-bottom:15px;
}

.education-card h4{
    color:#666;
    margin-bottom:15px;
    font-weight:500;
}

.education-card p{
    color:#0B6E4F;
    font-weight:600;
}
















.skills{
    background:#f7f9fb;
}

.skills-container{
    display:grid;
    grid-template-columns:1fr;
    gap:25px;
}

.skill-card{
    background:#fff;
    padding:35px 30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.35s;
}

.skill-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 40px rgba(0,0,0,.12);
}

.skill-card h3{
    font-size:1.4rem;
    color:#222;
    margin-bottom:15px;
}

.skill-card p{
    color:#666;
    line-height:1.8;
    
}




.certifications{
    background:#ffffff;
}

.certification-container{
    display:grid;
    grid-template-columns:1fr;
    gap:25px;
}

.certificate-card{
    background:#fff;
    padding:35px;
    text-align:center;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.35s;
}

.certificate-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 40px rgba(0,0,0,.12);
}

.certificate-card h3{
    font-size:1.35rem;
    color:#222;
    margin-bottom:12px;
}

.certificate-card h4{
    color:#666;
    font-weight:500;
    margin-bottom:18px;
}

.certificate-card span{
    display:inline-block;
    background:#0B6E4F;
    color:#fff;
    padding:8px 18px;
    border-radius:30px;
    font-size:.9rem;
    font-weight:600;
}




.contact{
    background:#f7f9fb;
}

.contact-container{
    display:grid;
    grid-template-columns:1fr;
    gap:30px;
}

.contact-info,
.contact-form{
    background:#fff;
    padding:35px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.contact-info h3{
    font-size:1.8rem;
    margin-bottom:15px;
    color:#222;
}

.contact-info p{
    color:#666;
    margin-bottom:30px;
    text-align: justify;
}

.contact-item{
    margin-bottom:22px;
}

.contact-item strong{
    display:block;
    color:#0B6E4F;
    margin-bottom:6px;
}

.contact-item span,
.contact-item a{
    color:#555;
    word-break:break-word;
}

.contact-item a:hover{
    color:#0B6E4F;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:16px;
    margin-bottom:18px;
    border:1px solid #ddd;
    border-radius:12px;
    outline:none;
    font-family:'Poppins',sans-serif;
    font-size:1rem;
    transition:.3s;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border-color:#0B6E4F;
    box-shadow:0 0 0 3px rgba(11,110,79,.12);
}

.contact-form textarea{
    resize:vertical;
    min-height:170px;
}

.contact-form button{
    border:none;
    cursor:pointer;
    width:100%;
}














footer{
    background:#0B6E4F;
    color:#fff;
    text-align:center;
    padding:40px 20px;
}

footer h2{
    font-size:2rem;
    margin-bottom:10px;
}

footer p{
    opacity:.9;
    margin-top:8px;
    font-size:.95rem;
}




.about-card,
.experience-card,
.education-card,
.skill-card,
.certificate-card,
.contact-info,
.contact-form{
    transition:.35s ease;
}

.about-card:hover,
.experience-card:hover,
.education-card:hover,
.skill-card:hover,
.certificate-card:hover,
.contact-info:hover,
.contact-form:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 45px rgba(0,0,0,.12);
}




@media (min-width:768px){

nav{
    padding:20px 40px;
}

#hamburger{
    display:none;
}

#nav-links{
    position:static;
    display:flex !important;
    flex-direction:row;
    width:auto;
    background:none;
    box-shadow:none;
    padding:0;
    gap:30px;
}

.hero{
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    text-align:left;
    gap:60px;
}

.hero-text{
    flex:1;
}

.hero-image{
    flex:1;
    justify-content:flex-end;
}

.hero-image img{
    width:340px;
    height:340px;
}

.hero-buttons{
    flex-direction:row;
}

.about{
    grid-template-columns:2fr 1fr;
    align-items:center;
}



.experience-header{
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

.education-container{
    grid-template-columns:repeat(2,1fr);
}

.skills-container{
    grid-template-columns:repeat(2,1fr);
}

.certification-container{
    grid-template-columns:repeat(2,1fr);
}

.contact-container{
    grid-template-columns:1fr 1fr;
}

}




@media (min-width:1024px){

section{
    padding:110px 8%;
}

.hero{
    gap:100px;
}

.hero-text h1{
    font-size:4rem;
}

.hero-text h2{
    font-size:2rem;
}

.hero-text p{
    font-size:1.1rem;
}

.hero-image img{
    width:430px;
    height:430px;
}

.about-content h2{
    font-size:3rem;
}

.section-title h2{
    font-size:3rem;
}

.education-container{
    grid-template-columns:repeat(3,1fr);
}

.skills-container{
    grid-template-columns:repeat(3,1fr);
}

.certification-container{
    grid-template-columns:repeat(3,1fr);
}

}




::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#ececec;
}

::-webkit-scrollbar-thumb{
    background:#0B6E4F;
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#08543d;
}